.containerLogin {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    grid-template-areas: "ImageView FormView";
    padding: 5% 0;
}

.imageDiv{
    grid-area: 'ImageView';
}

.viewForm{
    grid-area: 'FormView';
    position: relative;
    height: 610px;
    min-width: 388px;
    max-width: 388px;
    background: #0f3b7a;
    border-radius: 0 12px 12px 0;
    padding: 40px;
}

.imageDiv .imageLogin{
    max-width: 400px;
    min-width: 400px;
    width: auto;
    height: 610px;
    border-radius: 12px 0 0 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media only screen and (max-width: 390px) {
    .viewForm {
        margin: 2px;
        min-width: 280px;
    }
}